<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Castoro&display=swap" rel="stylesheet">
</head>
{% extends '_templates/base.njk' %}

{% block page_title %}Restaurants{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1> Restaurants </h1>
        <p> Some of the great places to eat in Austin, Texas <p>
      </div>
    </div>
    <div class="column">
      <div class="row">
      {% for restaurant in eateries.restaurants %}
        <div class="restaurantImage col-md-4 offset-2">
          <img src="img/{{ restaurant.image }}" alt="{{ restaurant.name }}" class="img-fluid">
        </div>
        <div class="restaurantInfo col-md-4">
          <p id="restaurantName">{{ restaurant.name }}</p>
          <p>{{ restaurant.address }}</p>
          <p>{{ restaurant.category }}</p>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}