{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/{{ image }}" class="d-block w-100" alt="{{ name }}">
            </div>
            <div class="carousel-item">
              <img src="../img/{{ imagebw }}" class="d-block w-100" alt="{{ name }}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <h1>{{ name }}</h1>
        <p>{{ description | safe }}<p>
      </div>
    </div>
  </article>
{% endblock %}
