h3 {
  font-size: 1.5rem;
}

h1, .navbar-brand {
  font-family: 'Anton', sans-serif;
}

#restaurantName {
  font-family: Castoro, serif;
  font-size: 1.5rem;
}

.nav-item {
  font-family: Castoro, serif;
}