.restaurantInfo {
  border-top: 5px solid black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding: 70px 0;
}

.restaurantImage {
  border-top: 5px solid black;
  padding-top: 25px;
  padding-bottom: 25px;
}